.cabinet-sale
    .description-about-us
        h2.page-h2 Мої знижки
        p.sale-flag Отримайте 10% знижки на першу покупку! Введіть промокод deshevshe10 при оформленні замовлення.
        p.sale-flag Днем народження! Отримайте 15% знижки на будь-яке замовлення протягом місяця. Використовуйте промокод BDAY15.
        p.sale-flag Дякуємо за вашу лояльність! Після трьох покупок отримуйте 5% знижки на всі наступні замовлення з промокодом LOYALTY5.