.comment 
    .flex-between.item-center.head-comment
        p Олександра Шевченко
        p 18.08.2022
    .star
        .rate-stars
            .star-review(data-value="1")
            .star-review(data-value="2")
            .star-review(data-value="3")
            .star-review(data-value="4")
            .star-review(data-value="5")
    .descript-comment 
        p Футболка має чудовий дизайн, принт розташований по центру спереду, що робить її стильним акцентом у моїх літніх образах. Матеріал дуже приємний на дотик, а якість пошиття на високому рівні. Особливо мені сподобалося, що кругла горловина обшита бейкою в тон, що додає виробу завершеності. Короткі рукави та опущені пройми забезпечують комфорт та свободу рухів, що особливо важливо в спекотні дні. Прямий нижній край додає класичного вигляду і дозволяє легко поєднувати футболку з різними речами в гардеробі.