.black-fon
.filter 
    p.mobile-head-menu 
        span фільтри
        span.cancel-filter
            svg(width="15.026367" height="15.036133" viewBox="0 0 15.0264 15.0361" fill="#e31f25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                path(id="видалити" d="M0.424805 0.29834C0.819336 -0.0993652 1.43848 -0.0993652 1.83301 0.29834L7.51367 6.03198L13.1943 0.29834C13.5879 -0.0993652 14.208 -0.0993652 14.6016 0.29834C14.9961 0.696289 14.9961 1.32129 14.6016 1.71924L8.9209 7.45288L14.7314 13.3171C15.125 13.7148 15.125 14.3401 14.7314 14.7378C14.3369 15.1355 13.7178 15.1355 13.3232 14.7378L7.51367 8.87354L1.70312 14.7378C1.30957 15.1355 0.689453 15.1355 0.295898 14.7378C-0.0986328 14.3401 -0.0986328 13.7148 0.295898 13.3171L6.10547 7.45288L0.424805 1.71924C0.03125 1.32129 0.03125 0.696289 0.424805 0.29834Z" clip-rule="evenodd" fill-opacity="1.000000" fill-rule="evenodd")
    .cross
        svg(width="15.026367" height="15.036133" viewBox="0 0 15.0264 15.0361" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            path(id="видалити" d="M0.424805 0.29834C0.819336 -0.0993652 1.43848 -0.0993652 1.83301 0.29834L7.51367 6.03198L13.1943 0.29834C13.5879 -0.0993652 14.208 -0.0993652 14.6016 0.29834C14.9961 0.696289 14.9961 1.32129 14.6016 1.71924L8.9209 7.45288L14.7314 13.3171C15.125 13.7148 15.125 14.3401 14.7314 14.7378C14.3369 15.1355 13.7178 15.1355 13.3232 14.7378L7.51367 8.87354L1.70312 14.7378C1.30957 15.1355 0.689453 15.1355 0.295898 14.7378C-0.0986328 14.3401 -0.0986328 13.7148 0.295898 13.3171L6.10547 7.45288L0.424805 1.71924C0.03125 1.32129 0.03125 0.696289 0.424805 0.29834Z" clip-rule="evenodd" fill-opacity="1.000000" fill-rule="evenodd")
    form(action="#" method="post") 
        .category-filter-catalog 
            h2 категорії
            nav.category-nav_catalog 
                ul
                    //- li
                    //-     a.d-flex.item-center.readmore-menu-main(href="#") 
                    //-         span чоловічий одяг
                    //-     ul.description-menu-main
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span чоловічий одяг
                        ul.description-menu
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span жіночий одяг
                        ul.description-menu
                            li
                                a(href="#") Чоловічі Футболки
                            li
                                a(href="#") Футболки
                            li
                                a(href="#") Блузи
                            li
                                a(href="#") Сорочки
                            li
                                a(href="#") Топи
                            li
                                a(href="#") Джинси
                            li
                                a(href="#") Спідниці
                            li
                                a(href="#") Шорти
                            li
                                a(href="#") Костюми
                            li
                                a(href="#") Верхній одяг
                            li
                                a(href="#") Жилети
                            li
                                a(href="#") Спортивний одяг
                            li
                                a(href="#") Худі
                            li
                                a(href="#") Лонгсліви
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span дитячий одяг
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span підлітковий одяг
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span головні убори
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span взуття
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span рюкзаки, сумки та гаманці
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span товари для дому
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span текстиль
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span товари для краси
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span іграшки
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span аксесуари
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span канцтовари
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    li
                        a(href="#").flex-between.item-center.readmore-menu.readmore-arrow
                            span товари з українською символікою
                        ul.description-menu 
                            li
                                a(href="#") спортивні штани
                            li
                                a(href="#") футболки “Імпорт”
                            li
                                a(href="#") футболки Valimark
                            li
                                a(href="#") шкарпетки
                            li
                                a(href="#") шорти
                            li
                                a(href="#") штани, джинси
                            li
                                a(href="#") білизна
                    
        .flex-between.filter-header-block.item-center                 
            h2 Фільтр
            a(href="#").d-flex.item-center
                span очистити
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <path d="M6.99998 1.00002L1 7M0.999975 1L6.99995 6.99998" stroke="#121212" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        .clothes-select 
            .description-blog
                a.readmore(href="#") 
                    span Ціна
                .description-more
                    .padding-range
                        .slider-range
                            .range#range
                            .values
                                span#min-value(data-value="0") 
                                span#max-value(data-value="1000")
                            .handle#min-handle
                            .handle#max-handle
                        form(method="post" action="index.php")
                            input(type="hidden" id="min-price" name="min_price")
                            input(type="hidden" id="max-price" name="max_price")
        .clothes-select.filter-select
            .color-select.filter-select
                .description-blog
                    a.readmore(href="#")
                        span колір
                        
                    .description-more.checkbox-catalog
                        p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                            input(type="checkbox" name="color1" id="color-1")
                            label(for="color-1") білий
                        p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                            input(type="checkbox" name="color2" id="color-2")
                            label(for="color-2") чорний
                        p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                            input(type="checkbox" name="color3" id="color-3")
                            label(for="color-3") зелений
                        p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                            input(type="checkbox" name="color4" id="color-4")
                            label(for="color-4") червоний
                        p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                            input(type="checkbox" name="color5" id="color-5")
                            label(for="color-5") синій
                        a(href="#").open-more відкрити усі 
            .description-blog
                a.readmore(href="#") 
                    span розмір
                .description-more.checkbox-catalog
                    p.d-flex.item-center
                        input(type="checkbox" name="size-catalog1" id="id1")
                        label(for="id1") XS
                    p.d-flex.item-center
                        input(type="checkbox" name="size-catalog2" id="id2")
                        label(for="id2") S
                    p.d-flex.item-center
                        input(type="checkbox" name="size-catalog3" id="id3")
                        label(for="id3") M
                    p.d-flex.item-center
                        input(type="checkbox" name="size-catalog1" id="id1")
                        label(for="id1") L
                    p.d-flex.item-center
                        input(type="checkbox" name="size-catalog2" id="id2")
                        label(for="id2") XL
                    p.d-flex.item-center
                        input(type="checkbox" name="size-catalog3" id="id3")
                        label(for="id3") XXL
                    a(href="#").open-more відкрити усі 
        .vyd.filter-select
            .description-blog
                a.readmore(href="#") 
                    span вид виробів
                .description-more.checkbox-catalog
                    p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="fason1" id="id1-1")
                        label(for="id1-1") футболка
                    p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="fason2" id="id2-1")
                        label(for="id2-1") джинси
                    p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="fason3" id="id3-1")
                        label(for="id3-1") шорти
                    p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="fason3" id="id4-1")
                        label(for="id4-1") майки
                    p.d-flex.item-center.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="fason3" id="id5-1")
                        label(for="id5-1") сорочки
                    a(href="#").open-more відкрити усі 
        
        .country-select.filter-select
            .description-blog
                a.readmore(href="#")
                    span Країна
                    
                .description-more.checkbox-catalog
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="country" id="country-1")
                        label(for="country-1") Україна
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="country2" id="country-12")
                        label(for="country-12") Франція
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="country3" id="country-13")
                        label(for="country-13") Іспанія
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="country4" id="country-14")
                        label(for="country-14") Польща
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="country5" id="country-15")
                        label(for="country-15") Чехія
                    a(href="#").open-more відкрити усі 
        .style-select.filter-select
            .description-blog
                a.readmore(href="#")
                    span Стиль
                .description-more.checkbox-catalog
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="style" id="style-1")
                        label(for="style-1") офіційний
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="style2" id="style-12")
                        label(for="style-12") повсякденний
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="style3" id="style-13")
                        label(for="style-13") вечірній
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="style4" id="style-14")
                        label(for="style-14") спортивний
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="style5" id="style-15")
                        label(for="style-15") офісний
                    a(href="#").open-more відкрити усі 
        .material-select.filter-select
            .description-blog
                a.readmore(href="#")
                    span Стиль
                .description-more.checkbox-catalog
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="material" id="material-1")
                        label(for="material-1") поліестер
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="material2" id="material-12")
                        label(for="material-12") льон
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="material3" id="material-13")
                        label(for="material-13") бавовна
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="material4" id="material-14")
                        label(for="material-14") акрил
                    p.d-flex.item-center.d-flex.item-center
                        input(type="checkbox" name="material5" id="material-15")
                        label(for="material-15") джинс
                    a(href="#").open-more відкрити усі 
        .season-select.filter-select
            .description-blog
                a.readmore(href="#")
                    span сезон
                .description-more.checkbox-catalog
                    p.d-flex.item-center
                        input(type="checkbox" name="season1" id="season1-1")
                        label(for="season1-1") весна-літо
                    p.d-flex.item-center
                        input(type="checkbox" name="season2" id="season2-1")
                        label(for="season2-1") осінь-зима
