.black-fon
.header-navigation 
    nav.wrapper.flex-between.item-center
        .nav_container
            ul.navigation-menu-catalog
                li.mobile-head-menu 
                    span меню
                    span.cancel-menu
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                            <path d="M11 1.00004L1 11M0.999958 1L10.9999 11" stroke="#121212" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                li
                    a.d-block(href="index.html") головна
                li
                    a.down-menu(href="javascript:void(0)") каталог
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                            <path d="M1 1L6 6L11 1" stroke="#121212" stroke-linecap="round"/>
                        </svg>
                    .sub-menu-main.mobile-menu
                        ul.sub-menu
                            li
                                a(href="catalog.html")
                                    span Чоловічий одяг
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") футболки
                                        li
                                            a(href="#") худі
                                        li
                                            a(href="#") носки
                                        li
                                            a(href="#") спідня білизна
                                        li
                                            a(href="#") спортивні штани
                                        li
                                            a(href="#") джинси
                                        li
                                            a(href="#") шорти
                                        li
                                            a(href="#") сорочки
                                        li
                                            a(href="#") футолки поло
                                        li
                                            a(href="#") костюми
                                        li
                                            a(href="#") верхній одяг
                            li
                                a(href="catalog.html")
                                    span Чоловіче взуття
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") тапки
                                        li
                                            a(href="#") кросівки
                                        li
                                            a(href="#") кеди
                                        li
                                            a(href="#") туфлі
                            li
                                a(href="catalog.html")
                                    span Жіночий одяг
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") футболки
                                        li
                                            a(href="#") худі
                                        li
                                            a(href="#") носки
                                        li
                                            a(href="#") спідня білизна
                                        li
                                            a(href="#") спортивні штани
                                        li
                                            a(href="#") джинси
                                        li
                                            a(href="#") шорти
                                        li
                                            a(href="#") сорочки
                                        li
                                            a(href="#") сукні
                                        li
                                            a(href="#") жилетки
                                        li
                                            a(href="#") пальто
                                        li
                                            a(href="#") майки
                                        li
                                            a(href="#") лосини
                                        li
                                            a(href="#") комбінезони
                                        li
                                            a(href="#") спідниці
                                        li
                                            a(href="#") топи
                            li
                                a(href="catalog.html")
                                    span Жіноче взуття
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") тапки
                                        li
                                            a(href="#") кросівки
                                        li
                                            a(href="#") кеди
                                        li
                                            a(href="#") туфлі
                                        li
                                            a(href="#") балетки
                                        li
                                            a(href="#") уги
                            li
                                a(href="catalog.html")
                                    span Дитячий одяг
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") футболки
                                        li
                                            a(href="#") боді
                                        li
                                            a(href="#") штани
                                        li
                                            a(href="#") лосини
                                        li
                                            a(href="#") худі
                                        li
                                            a(href="#") шорти
                                        li
                                            a(href="#") джинси
                                        li
                                            a(href="#") комбінезони
                                        li
                                            a(href="#") купальники
                            li
                                a(href="catalog.html")
                                    span Підлітковий одяг
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") футболки
                                        li
                                            a(href="#") худі
                                        li
                                            a(href="#") носки
                                        li
                                            a(href="#") спідня білизна
                                        li
                                            a(href="#") спортивні штани
                                        li
                                            a(href="#") джинси
                                        li
                                            a(href="#") шорти
                                        li
                                            a(href="#") сорочки
                                        li
                                            a(href="#") сукні
                                        li
                                            a(href="#") жилетки
                                        li
                                            a(href="#") пальто
                                        li
                                            a(href="#") майки
                            li
                                a(href="catalog.html")
                                    span Головні убори
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") кепки
                                        li
                                            a(href="#") панамки
                                        li
                                            a(href="#") шапки
                            li
                                a(href="catalog.html")
                                    span Рюкзаки, сумки, гаманці
                            li
                                a(href="catalog.html")
                                    span Товари для дому
                                .second-subMenu
                                    ul
                                        li
                                            a(href="#") посуд
                                        li
                                            a(href="#") вази
                                        li
                                            a(href="#") господарські товари
                                        li
                                            a(href="#") ліхтарики
                                        li
                                            a(href="#") скарбнички
                                        li
                                            a(href="#") усе для кухні
                            li
                                a(href="catalog.html")
                                    span Іграшки
                            li
                                a(href="catalog.html")
                                    span Аксесуари
                            li
                                a(href="catalog.html")
                                    span Канцтовари
                            li
                                a(href="catalog.html")
                                    span Товари з українською символікою              
                li
                    a.down-menu.d-block(href="help.html") інформація
                        <svg class="position-center help-svg" xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
                            <path d="M1 1L6 6L11 1" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    ul.help-sub-menu
                        li
                            a(href="help.html#aboutUs" data-href="aboutUs") Про нас
                        li
                            a(href="help.html#payDelivery" data-href="payDelivery") Оплата та доставка
                        li
                            a(href="help.html#povernenia" data-href="povernenia") Повернення та обмін
                        li
                            a(href="help.html#question" data-href="question") Питання та відповіді
                li
                    a.d-block(href="comment.html") відгуки
                li
                    a.d-block(href="contact.html") контакти
                li.contact-mobile-menu 
                    p.head-mobile-menu Контакти
                    .adress-header.mobile_contact 
                        a(href="#").d-flex.item-center
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 19C10.125 19 16 13.0996 16 8.94118C16 4.17647 12.366 1 8.5 1C4.63401 1 1 4.17647 1 8.52941C1 12.6878 6.875 19 8.5 19ZM8.5 11.0588C9.88071 11.0588 11 9.8737 11 8.41177C11 6.94983 9.88071 5.76471 8.5 5.76471C7.11929 5.76471 6 6.94983 6 8.41177C6 9.8737 7.11929 11.0588 8.5 11.0588Z" stroke="#E31F25"/>
                            </svg> 
                            span м.Хмельницький, Україна
                    .phone-header.mobile_contact 
                        a(href="tel:+380").d-flex.item-center
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M19 17V15.3541C19 14.5363 18.5021 13.8008 17.7428 13.4971L15.7086 12.6835C14.7429 12.2971 13.6422 12.7156 13.177 13.646L13 14C13 14 10.5 13.5 8.5 11.5C6.5 9.5 6 7 6 7L6.35402 6.82299C7.28438 6.35781 7.70285 5.25714 7.31654 4.29136L6.50289 2.25722C6.19916 1.4979 5.46374 1 4.64593 1H3C1.89543 1 1 1.89543 1 3C1 11.8366 8.16344 19 17 19C18.1046 19 19 18.1046 19 17Z" stroke="#E31F25" stroke-linejoin="round"/>
                            </svg>
                            span +380 (67) 677 77 77
                    p.head-mobile-menu ми у соцмережах
                    include social
        .icon-search_container.flex-between.item-center
            .search-desctop-block.search-block
                form(action="#")
                    label(for="search")
                        input(type="text" id="search" name="search" placeholder="пошук")
            .basket-desctop
                p.cart-cta 
                    a(href="basket.html")
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
                            <path d="M4.70763 6.52632V3.36842C4.70763 2.06038 5.73396 1 7 1C8.26604 1 9.29237 2.06038 9.29237 3.36842V6.52632M1.65115 12.8421H12.3489M2.52832 16H11.4717C12.3586 16 13.0592 15.2226 12.996 14.3086L12.4502 6.41382C12.3931 5.58755 11.7277 4.94737 10.9259 4.94737H3.07412C2.27235 4.94737 1.60689 5.58755 1.54976 6.41382L1.00396 14.3086C0.940773 15.2226 1.64142 16 2.52832 16Z" stroke="#121212" stroke-linecap="round"/>
                        </svg> 

