.description-about-us
    h2.page-h2 Список замовлень
    .table-cabinet
        table 
            thead 
                tr 
                    th дата
                    th номер
                    th ТТН
                    th сума
                    th повернення
                    th сума знижок
                    th стан
                    th стан оплати
                    th дії
                    th промо акція
            tbody 
                tr
                    td 09/12/2023
                    td 84748
                    td 20 4502 4209 99 34
                    td 990 грн
                    td –
                    td 120 грн
                    td 120 грн
                    td відхилено
                    td –
                    td –
                tr
                    td 09/12/2023
                    td 84748
                    td 20 4502 4209 99 34
                    td 990 грн
                    td так
                    td 120 грн
                    td 120 грн
                    td сплачено
                    td повернено
                    td –
                tr
                    td 09/12/2023
                    td 84748
                    td 20 4502 4209 99 34
                    td 990 грн
                    td –
                    td 120 грн
                    td 120 грн
                    td сплачено
                    td –
                    td –
                tr
                    td 09/12/2023
                    td 84748
                    td 20 4502 4209 99 34
                    td 990 грн
                    td –
                    td 120 грн
                    td 120 грн
                    td сплачено
                    td –
                    td –
                tr.footer-table 
                    td всього
                    td 
                    td 
                    td 3960 грн
                    td 1
                    td 480 грн
                    td 480 грн
                    td 
                    td 
                    td 
