section.main_container.slider#mainImg
    .mainImg.d-flex.slider-container
        .main-block
            .main-text
                h1 оптовий вигідний шопінг
                p Ціни, які забезпечують максимальну вигоду для вашого бізнесу!
                a.cta(href="catalog.html") в каталог
            .img-main 
                picture 
                    img(src="img/superprice.png", alt="")
        .main-block
            .main-text
                h1 оптовий вигідний шопінг
                p Ціни, які забезпечують максимальну вигоду для вашого бізнесу!
                a.cta(href="catalog.html") в каталог
            .img-main 
                picture 
                    img(src="img/superprice.png", alt="")
        .main-block
            .main-text
                h1 оптовий вигідний шопінг
                p Ціни, які забезпечують максимальну вигоду для вашого бізнесу!
                a.cta(href="catalog.html") в каталог
            .img-main 
                picture
                    img(src="img/superprice.png", alt="")
a(href="catalog.html").wrapper.cta.mobile-main-cta в каталог