.description-about-us
    h2.page-h2 Мої повернення
    .table-cabinet.table-return
        table 
            thead 
                tr 
                    th дата
                    th повернення до замовлення
                    th кількість
                    th сума повернення
                    th дії
            tbody 
                tr
                    td 09/12/2023
                    td 4647
                    td 1
                    td 990 грн
                    td повернено
                tr
                    td 09/12/2023
                    td 4647
                    td 1
                    td 990 грн
                    td повернено
                tr
                    td 09/12/2023
                    td 4647
                    td 1
                    td 990 грн
                    td повернено
                tr
                    td 09/12/2023
                    td 4647
                    td 1
                    td 990 грн
                    td повернено
                tr.footer-table 
                    td всього
                    td 
                    td 4
                    td 3960 грн
                    td 

