.black-fon-popup.black-fon-reg.d-none
.popup-cabinet.d-none
    .registration
            a.cancel-popup-cabinet(href="#") 
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M20.9999 1.00008L1 21M0.999915 1L20.9998 20.9999" stroke="#D9D9D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            h2 особистий кабінет
            .d-flex.item-center.cta-reg
                a(href="#").entry.active-link вхід
                a(href="#").registration Реєстрація
            hr.reg-hr
            .entry-form.active-form
                form(action="#")
                    p 
                        label(for="emailEntry") E-mail
                        input(type="email" name="emailEntry" id="emailEntry" placeholder="Ваш e-mail" required autocomplete="username")
                    p 
                        label(for="passwordEntry") Пароль
                        input.password(type="password" id="passwordEntry" name="passwordEntry" placeholder="Ваш пароль" required autocomplete="current-password" minlength="6" maxlength="25")
                        a(href="#").eye.closeEye(data-target="passwordEntry")
                            <svg class="openEye" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                                <path d="M1.39258 7.004C1.19843 6.7376 1.10136 6.6044 1.03454 6.3467C0.988487 6.16909 0.988487 5.83091 1.03454 5.6533C1.10136 5.3956 1.19843 5.2624 1.39258 4.996C2.45644 3.5362 4.78758 1 8.14286 1C11.4981 1 13.8293 3.5362 14.8931 4.996C15.0873 5.2624 15.1844 5.3956 15.2512 5.6533C15.2972 5.83091 15.2972 6.16909 15.2512 6.3467C15.1844 6.6044 15.0873 6.7376 14.8931 7.004C13.8293 8.4638 11.4981 11 8.14286 11C4.78758 11 2.45644 8.4638 1.39258 7.004Z" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.14244 7.42857C8.93142 7.42857 9.57101 6.78898 9.57101 6C9.57101 5.21102 8.93142 4.57143 8.14244 4.57143C7.35346 4.57143 6.71387 5.21102 6.71387 6C6.71387 6.78898 7.35346 7.42857 8.14244 7.42857Z" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                    a(href="#") Забули пароль?
                    button(type="submit").yellow-cta.btn-card.contact-cta увійти 
            .registration-form 
                form(action="#") 
                    p 
                        label(for="nameReg") Імʼя та прізвище
                        input(type="text" name="nameReg" placeholder="Ваше імʼя та прізвище" required maxlength="50")
                    p 
                        label(for="emailReg") E-mail
                        input(type="email" name="emailReg" placeholder="Ваш e-mail" required autocomplete="username" maxlength="50")
                    p 
                        label(for="passwordReg") Пароль
                            span (Пароль повинен бути не менше 6 символів)
                        input.password(type="password" id="passwordReg" name="passwordReg" placeholder="Ваш пароль" required autocomplete="new-password" minlength="6" maxlength="25")
                        a(href="#").eye.closeEye(data-target="passwordReg")
                            <svg class="openEye" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                                <path d="M1.39258 7.004C1.19843 6.7376 1.10136 6.6044 1.03454 6.3467C0.988487 6.16909 0.988487 5.83091 1.03454 5.6533C1.10136 5.3956 1.19843 5.2624 1.39258 4.996C2.45644 3.5362 4.78758 1 8.14286 1C11.4981 1 13.8293 3.5362 14.8931 4.996C15.0873 5.2624 15.1844 5.3956 15.2512 5.6533C15.2972 5.83091 15.2972 6.16909 15.2512 6.3467C15.1844 6.6044 15.0873 6.7376 14.8931 7.004C13.8293 8.4638 11.4981 11 8.14286 11C4.78758 11 2.45644 8.4638 1.39258 7.004Z" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.14244 7.42857C8.93142 7.42857 9.57101 6.78898 9.57101 6C9.57101 5.21102 8.93142 4.57143 8.14244 4.57143C7.35346 4.57143 6.71387 5.21102 6.71387 6C6.71387 6.78898 7.35346 7.42857 8.14244 7.42857Z" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            

                    p 
                        label(for="passwordReg2") Повторіть пароль
                        input.password(type="password" id="passwordReg2" name="passwordReg2" placeholder="Ваш пароль" required autocomplete="new-password" minlength="6" maxlength="25")
                        a(href="#").eye.closeEye(data-target="passwordReg2")
                            <svg class="openEye" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                                <path d="M1.39258 7.004C1.19843 6.7376 1.10136 6.6044 1.03454 6.3467C0.988487 6.16909 0.988487 5.83091 1.03454 5.6533C1.10136 5.3956 1.19843 5.2624 1.39258 4.996C2.45644 3.5362 4.78758 1 8.14286 1C11.4981 1 13.8293 3.5362 14.8931 4.996C15.0873 5.2624 15.1844 5.3956 15.2512 5.6533C15.2972 5.83091 15.2972 6.16909 15.2512 6.3467C15.1844 6.6044 15.0873 6.7376 14.8931 7.004C13.8293 8.4638 11.4981 11 8.14286 11C4.78758 11 2.45644 8.4638 1.39258 7.004Z" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.14244 7.42857C8.93142 7.42857 9.57101 6.78898 9.57101 6C9.57101 5.21102 8.93142 4.57143 8.14244 4.57143C7.35346 4.57143 6.71387 5.21102 6.71387 6C6.71387 6.78898 7.35346 7.42857 8.14244 7.42857Z" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                    button(type="submit").yellow-cta.btn-card.contact-cta зареєструватися 
