doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        link(rel="stylesheet" href="css/style.css")
    body#body
        header
            .fixed-header
                include components/header
        main.wrapper.rewiev-page
            p.page-look.d-flex
                a(href="index.html") головна
                span /
                span.selected-page відгуки
            h1 відгуки
            .rewiev-container.grid 
                .d-flex.item-center.cta-reg.review-btn-block
                    a(href="#").review-btn.active-link переглянути
                    a(href="#").review-form-btn залишити
                .revies.d-block
                    - for(let i = 0; i < 3; i++)
                        include components/comment-card
                    include components/pagination
                .rewiev-form 
                    form(action="#")
                        .form-comment 
                            h2.head-comment-form Залишити відгук
                            p.form-to-add_comment
                                p
                                    p 
                                        label(for="name") Ваше Імʼя*
                                    p 
                                        input#name(type="text" name="name" required)
                                p
                                    p 
                                        label(for="userPhone") Ваш телефон*
                                    p
                                        input#userPhone(class="inputMask" type="tel" name="userPhone" required) 
                                .star.star-review-block
                                    p Ваша оцінка*
                                    .rate-stars
                                        .star-review(data-value="1")
                                        .star-review(data-value="2")
                                        .star-review(data-value="3")
                                        .star-review(data-value="4")
                                        .star-review(data-value="5")
                                p
                                    p 
                                        label(for="comment") Ваше повідомлення*
                                    p 
                                        textarea#comment(name="comment")
                                p.d-flex.item-center.checkbox-rewiev
                                    input(type="checkbox" id="privacyCheck")
                                    label(for="privacyCheck") Я прочитав (ла) Політику конфіденційності і згоден (на) з умовами
                                button(type="submit").btn-card.cta.cta-card.d-flex.item-center відправити

        footer 
            include components/footer
    script(src="js/scripts.js")