doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        link(rel="stylesheet" href="css/style.css")
        title 
    body#body
        header
            .fixed-header
                include components/header
        main 
            include components/main-slider
            .descript-main_container.wrapper.container
                .grid.decr-grid 
                    .system-info.d-flex.item-center
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="none">
                            <g clip-path="url(#clip0_469_11963)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M59.6 16.8667C59.2666 15.8 58.5333 15.0667 57.3333 15.2667L37.4 17.9333C36.8666 18.1333 36.2 18.8 36.2 18.8L5.59997 58.2C4.86664 59.2667 5.06664 60.8667 6.1333 61.8667L27.7333 78.2C28.8 78.9333 30.4 78.7333 31.4 77.6667L61.4666 38.4667L61.6666 38.2C61.9333 37.9333 62.2 37.4 62.2 36.7333L59.6 16.8667ZM54 24.9333C52.3333 24.9333 50.9333 23.6 50.9333 21.8667C50.9333 20.2 52.2666 18.8 54 18.8C55.6666 18.8 57.0666 20.1333 57.0666 21.8667C57 23.5333 55.6666 24.9333 54 24.9333Z" stroke="#E37523" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M54.0667 22.6C54 22.6 53.9333 22.6 53.8667 22.6C53.2 22.4667 52.7333 21.8667 52.8667 21.1333C52.8667 20.9333 53.6 17 55.0667 12.4667C57.0667 6.26666 59.5333 2.33332 62.2667 0.733323C63.8667 -0.20001 65.5333 -0.333344 67.2 0.333323C69.6667 1.26666 70.5333 2.93332 70.8 4.13332C72 9.79999 63.8667 18.4 62.9333 19.3333C62.4667 19.8 61.6667 19.8667 61.2 19.3333C60.7333 18.8667 60.6667 18.0667 61.2 17.6C63.4667 15.2667 69.2 8.39999 68.4 4.73332C68.2667 4.13332 67.9333 3.33332 66.4 2.73332C65.4 2.33332 64.5333 2.46666 63.6 2.93332C59.1333 5.46666 56.2 17.2667 55.4 21.6C55.2 22.2 54.6667 22.6 54.0667 22.6Z" fill="#E31F25"/>
                                <path d="M29.5333 41.8667C28.8667 41.1333 28.5333 40.2 28.5333 39.1333C28.5333 38 28.8667 37.1333 29.5333 36.4667C30.2 35.8 31.0667 35.4667 32.1333 35.4667C33.2 35.4667 34.1333 35.8 34.8 36.4667C35.4667 37.1333 35.8 38.0667 35.8 39.1333C35.8 40.2667 35.4667 41.1333 34.8 41.8667C34.1333 42.6 33.2667 42.9333 32.2 42.9333C31.0667 43 30.2 42.6 29.5333 41.8667ZM29.2667 52L40.4 35.7333H43L31.8667 52H29.2667ZM31 37.7333C30.7333 38.0667 30.6 38.5333 30.6 39.1333C30.6 39.7333 30.7333 40.2 31 40.6C31.2667 41 31.6667 41.2 32.1333 41.2C32.6 41.2 33 41 33.2667 40.6667C33.5333 40.2667 33.6667 39.8 33.6667 39.2C33.6667 38.6 33.5333 38.1333 33.2667 37.8C33 37.4667 32.6 37.2667 32.1333 37.2667C31.6667 37.2 31.2667 37.4 31 37.7333ZM37.6667 51.2C37 50.4667 36.6667 49.5333 36.6667 48.4667C36.6667 47.3333 37 46.4667 37.6667 45.8C38.3333 45.1333 39.2 44.8 40.2667 44.8C41.3333 44.8 42.2 45.1333 42.9333 45.8C43.6 46.4667 43.9333 47.4 43.9333 48.4667C43.9333 49.6 43.6 50.4667 42.9333 51.2C42.2667 51.9333 41.4 52.2667 40.3333 52.2667C39.2 52.2667 38.3333 51.9333 37.6667 51.2ZM39.1333 47.0667C38.8667 47.4 38.7333 47.8667 38.7333 48.4667C38.7333 49.0667 38.8667 49.5333 39.1333 49.9333C39.4 50.3333 39.8 50.5333 40.2667 50.5333C40.7333 50.5333 41.1333 50.3333 41.4 50C41.6667 49.6 41.8 49.1333 41.8 48.5333C41.8 47.9333 41.6667 47.4667 41.4 47.1333C41.1333 46.8 40.7333 46.6 40.2667 46.6C39.8 46.5333 39.4 46.6667 39.1333 47.0667Z" fill="#E31F25"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_469_11963">
                                <rect width="80" height="80" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        .info 
                            p.bold-info система лояльності
                            p.tiny-info для постійних клієнтів
                    .product-info.d-flex.item-center
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 81" fill="none">
                            <path d="M7.93255 25.9275C7.97057 25.4047 8.40577 25 8.92991 25H56.0701C56.5942 25 57.0294 25.4047 57.0675 25.9275L60.922 78.9275C60.9641 79.5068 60.5055 80 59.9246 80H5.07537C4.49451 80 4.03587 79.5068 4.078 78.9275L7.93255 25.9275Z" stroke="#E37523" stroke-width="2"/>
                            <rect y="79" width="65" height="2" rx="1" fill="#E37523"/>
                            <path d="M19.5404 16H46.5531C46.5531 16 57.9001 24.981 56.9426 24.981C55.9851 24.981 9.54809 24.482 8.11189 24.981C6.67569 25.4799 19.5404 16 19.5404 16Z" stroke="#E37523" stroke-width="2"/>
                            <rect x="24" y="69" width="3" height="3" fill="#E31F25"/>
                            <rect x="29" y="69" width="3" height="3" fill="#E31F25"/>
                            <rect x="34" y="69" width="3" height="3" fill="#E31F25"/>
                            <rect x="39" y="69" width="3" height="3" fill="#E31F25"/>
                            <circle cx="21.5" cy="33.5" r="3.5" stroke="#E31F25" stroke-width="2"/>
                            <circle cx="44.5" cy="33.5" r="3.5" stroke="#E31F25" stroke-width="2"/>
                            <path d="M45 30V13C45 6.37258 39.6274 1 33 1V1C26.3726 1 21 6.37258 21 13V30H22" stroke="#E31F25" stroke-width="2"/>
                        </svg>
                        .info 
                            p.bold-info > 35 000 товарів
                            p.tiny-info у наявності
                    .order-info.d-flex.item-center
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79 81" fill="none">
                            <path d="M53.9701 17.7605H36.6281L36.317 18.0721L35.5394 18.929V19.3184H53.1924V44.0117C53.7368 43.8559 54.2034 43.7001 54.7477 43.5443V18.5395C54.7477 18.15 54.3589 17.7605 53.9701 17.7605ZM45.4157 73.5346H1.55533V19.3184H17.8863L19.5972 17.7605H0.777667C0.622134 17.7605 0.388833 17.8384 0.2333 17.9163L0.155533 17.9942C0.0777666 18.15 0 18.3058 0 18.4616V74.1577C0 74.5472 0.388833 74.9367 0.777667 74.9367H46.9711C46.4267 74.5472 45.8824 74.002 45.4157 73.5346Z" fill="#E37523"/>
                            <path d="M72.6341 0.623173C72.6341 0.545277 72.6341 0.545277 72.6341 0.46738V0.389484C72.6341 0.311587 72.6341 0.311587 72.5563 0.311587C72.5563 0.23369 72.4786 0.23369 72.4008 0.155793L72.323 0.0778963C72.323 0.0778963 72.2453 0.0778968 72.2453 0C72.1675 0 72.1675 0 72.0897 0C72.0897 0 72.012 0 71.9342 0H18.664C18.4307 0 18.2752 0.0778962 18.1196 0.23369L0.2333 17.9942L0.155533 18.072C0.0777665 18.2278 0 18.3836 0 18.5394C0 18.6173 -7.53229e-08 18.7731 0.0777666 18.851C0.155533 19.1626 0.4666 19.3184 0.777667 19.3184H17.8863L19.5972 17.7605H2.64407L18.9751 1.55793H69.99L53.659 17.7605H36.6281L36.317 18.072L35.5394 18.9289V19.3184H53.9701C54.2034 19.3184 54.3589 19.2405 54.5145 19.0847L54.7477 18.851L71.0788 2.57059L72.4008 1.24635C72.5563 1.09055 72.6341 0.934761 72.6341 0.70107V0.623173Z" fill="#E37523"/>
                            <path d="M72.6341 0.778968C72.6341 0.701071 72.6341 0.70107 72.6341 0.623173C72.6341 0.545277 72.6341 0.545277 72.6341 0.46738V0.389484C72.6341 0.311587 72.6341 0.311587 72.5563 0.311587C72.5563 0.23369 72.4786 0.23369 72.4008 0.155793L72.323 0.0778963C72.323 0.0778963 72.2453 0.0778968 72.2453 0C72.1675 0 72.1675 0 72.0897 0C72.0897 0 72.012 0 71.9342 0C71.7009 0 71.5454 0.0778962 71.3898 0.23369L70.0678 1.55794L53.7368 17.7605L53.4257 17.9942C53.2702 18.1499 53.1924 18.3057 53.1924 18.5394V44.0117C53.7368 43.8559 54.2034 43.7001 54.7477 43.5443V18.851L71.0788 2.57059L71.5454 47.4391C71.7787 47.6728 72.0897 47.9065 72.323 48.1402L72.4008 48.2181C72.6341 48.3739 72.7896 48.6076 72.9452 48.8413C73.0229 48.9192 73.0229 48.9192 73.1007 48.9971L72.6341 0.778968Z" fill="#E37523"/>
                            <path d="M59.4915 80C69.7135 80 78 71.6996 78 61.4606C78 51.2215 69.7135 42.9211 59.4915 42.9211C49.2696 42.9211 40.983 51.2215 40.983 61.4606C40.983 71.6996 49.2696 80 59.4915 80Z" stroke="#E31F25" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M58.4806 48.7634V62.5512L67.8126 68.9387" stroke="#E31F25" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M35.9282 0L34.3729 1.55794L32.0399 3.89484L29.9402 5.99805L17.2642 17.7605L17.1087 17.9163L16.02 19.0068V19.3184L15.6311 52.5024L22.3191 48.7634L26.2074 52.2687L29.9402 48.6855L36.3171 52.5803L37.0947 19.5521L37.328 19.3184L38.8834 17.7605L51.326 4.98539L54.5922 1.55794L56.0698 0H35.9282ZM50.1595 3.89484L36.6281 17.7605L36.3171 18.072L35.5394 18.9289V19.3184L34.7617 49.776L29.7069 46.6602L26.1296 50.0876L22.4746 46.8159L17.1865 49.776L17.4975 19.63L17.8864 19.3184L19.5972 17.7605L31.0289 7.0886L36.6281 1.48004H52.4925L50.1595 3.89484Z" fill="#E31F25"/>
                        </svg>
                        .info 
                            p.bold-info замовлення до 17:00
                            p.tiny-info відправляємо у цей день
            section.category-main.wrapper.container
                h2 Категорії
                    .view-all
                        a(href="#") показати усі 
                .category_container-slider.slider#categoryMain
                    .category-slider.grid.slider-container
                        .category-container 
                            .grid.categoty_grid 
                                picture
                                    img(src="img/woman1.jpg", alt="")
                                picture
                                    img(src="img/woman2.jpg", alt="")
                            p.header-category жіночий одяг
                            .grid.categoty_grid 
                                picture
                                    img(src="img/woman3.jpg", alt="")
                                picture
                                    img(src="img/woman4.jpg", alt="")
                        .category-container 
                            .grid.categoty_grid 
                                picture
                                    img(src="img/woman1.jpg", alt="")
                                picture
                                    img(src="img/woman2.jpg", alt="")
                            p.header-category жіночий одяг
                            .grid.categoty_grid 
                                picture
                                    img(src="img/woman3.jpg", alt="")
                                picture
                                    img(src="img/woman4.jpg", alt="")
                        .category-container 
                            .grid.categoty_grid  
                                picture
                                    img(src="img/man1.jpg", alt="")
                                picture
                                    img(src="img/man2.jpg", alt="")
                            p.header-category чоловічий одяг
                            .grid.categoty_grid  
                                picture
                                    img(src="img/man3.jpg", alt="")
                                picture
                                    img(src="img/man4.jpg", alt="")
                        .category-container 
                            .grid.categoty_grid  
                                picture
                                    img(src="img/kid1.jpg", alt="")
                                picture
                                    img(src="img/kid2.jpg", alt="")
                            p.header-category дитячий одяг
                            .grid.categoty_grid  
                                picture
                                    img(src="img/kid3.jpg", alt="")
                                picture
                                    img(src="img/kid4.jpg", alt="")
                        .category-container 
                            .grid.categoty_grid  
                                picture
                                    img(src="img/shooe1.jpg", alt="")
                                picture
                                    img(src="img/shooe2.jpg", alt="")
                            p.header-category взуття
                            .grid.categoty_grid  
                                picture
                                    img(src="img/shooe3.jpg", alt="")
                                picture
                                    img(src="img/shoe4.jpg", alt="")
            .change-container-main.wrapper.container
                .button-block.d-flex.item-center
                    a.toggle-section(data-target="hits") Хіти
                    a.toggle-section(data-target="news") Новинки
                    a.toggle-section(data-target="sale") Розпродаж
                    .view-all
                        a(href="#") показати усі 
                .hits.active-main
                    include components/card-slider
                .news.d-none 
                    include components/card-news
                .sale.d-none
                    include components/card-sale

            
        #footer
            include components/footer

    script(src="js/scripts.js")

