doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="css/style.css")
        title Дешевше - інтернет магазин необхідних товарів для всієї родини
    body#body
        header
            .fixed-header
                include components/header
        main.wrapper
            .d-flex.flex-arrow
                a(href="#body").arrow-up.arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path d="M1 9L9 0.999999L17 9" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                a(href="#footer").arrow-down.arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path d="M1 0.999999L9 9L17 1" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            p.page-look.d-flex
                a(href="index.html") головна
                span /
                span.selected-page політика конфіденційності
            section.privacyPolice-page
                h1.privacy-h1.pad-text Політика конфіденційності
                p.privacy-head-text.pad-text Персональні дані Покупця збираються та обробляються відповідно до Закону України «Про захист персональних даних» від 01 червня 2010 № 2297-VI.
                p.main-text.pad-text Покупець, проходячи процедуру реєстрації на Сайті та/або заповнюючи форму «оформити замовлення» на сайті Інтернет магазину «ДЕШЕВШЕ» надає свою повну безумовну та безстрокову згоду на збирання, обробку та використання Продавцем інформації про Покупця, в тому числі інформації, що відповідно до чинного законодавства України вважається персональними даними, виключно в наступних цілях:
                ul
                    li з метою реєстрації та ідентифікації Покупця в Інтернет-магазині;
                    li з метою поновлення пароля реєстрації Покупця в Інтернет-магазині;
                    li.top-mark10 в маркетингових цілях, а саме: повідомлення Покупця за допомогою SMS, електронної пошти, соціальних мереж тощо про новини Інтернет-магазину, Акційні пропозиції та Розпродажі товарів, що проводяться Продавцем в Інтернет-магазині, здійснення Продавцем аналізу ринку споживання Товару, визначення кола потенційних Покупців, визначення потреб потенційних Покупців у товарах, що пропонуються до продажу тощо;
                    li.top-mark20 з метою сумлінного виконання Продавцем своїх договірних зобов’язань перед Покупцем, в тому числі зобов’язань щодо доставки Товару, а також зобов’язань щодо перерахування Покупцю коштів за повернутий Товар;
                    li з метою оцінки та аналізу роботи Сайту;
                    li.top-mark20 з метою виконання Продавцем вимог чинного законодавства України, в тому числі законодавства про захист прав споживачів.
                p.main-text.pad-text При реєстрації на Сайті Інтернет-магазину «ДЕШЕВШЕ» Покупець надає наступну інформацію: Прізвище, Ім’я, По батькові, адреса електронної пошти, номер контактного телефону та пароль для доступу до Сайту.
                .pad-text
                    p.main-text Надана Покупцем інформація використовується при обробці Замовлення, а також для надання Покупцю комерційних пропозицій Продавця.
                    p.main-text Для того, щоб забезпечити Покупця інформацією щодо Товару, розміщеного на сайті Інтернет-магазину, Продавець має право відправляти інформаційні, в тому числі рекламні повідомлення, на електронну пошту і мобільний телефон Покупця з його згоди. Покупець має право відмовитися від отримання рекламної та іншої інформації без пояснення причин відмови. Сервісні повідомлення, що інформують Покупця про замовлення та етапи його обробки, відправляються автоматично і не можуть бути відхилені Покупцем.
                .pad-text
                    p.main-text Продавець не несе відповідальності за відомості, надані Покупцем на Сайті в загальнодоступній формі.
                    p.main-text Продавець має право здійснювати записи телефонних розмов з Покупцем, про що Продавець повідомляє Покупця. При цьому Продавець зобов’язується: запобігати спробам несанкціонованого доступу до інформації, отриманої в ході телефонних переговорів, і / або передачу її третім особам, які не мають безпосереднього відношення до виконання Замовлень, відповідно до Закону України «Про інформацію» від 02.10.1992 року № 2657-XII.
                    p.main-text Будь-яка інформація, отримана від Покупця, є конфіденційною, та не розкривається третім особам, за винятком випадків, передбачених чинним законодавством України.
                p.main-text.pad-text При оплаті замовлень на сайті Інтернет-магазину «ДЕШЕВШЕ», за допомогою платіжних карт всі операції з ними здійснюються на захищеній платіжній сторінці банку, на якій потрібно ввести дані платіжної картки. Після успішної транзакції (успішної оплати замовлення платіжною карткою на платіжній сторінці банку) відвідувач сайту автоматично переадресовується на сторінку замовлення «ДЕШЕВШЕ», де вказано номер сформованого замовлення.

        footer#footer
            include components/footer
        script(src="js/scripts.js")





