.rewiev-page
    h1
        font-size: 48px
        font-weight: 500
        letter-spacing: 2.4px
        text-align: center
        text-transform: uppercase
.rewiev-container
    padding: 40px 0 100px
    +media(1024)
        gap: 50px
        grid-template-columns: 9fr 3fr
.comment-items
    padding-bottom: 50rem
.comment
    margin-bottom: 10rem
    box-shadow: 0rem 5rem 10rem 0rem rgba(18, 18, 18, 0.05)
.form-comment
    h2
        padding-bottom: 30rem
        text-align: center
        font-size: 24px
        font-weight: 500
        letter-spacing: 1.2px
        text-transform: uppercase
    input,
    textarea
        padding: 10px 20px
        width: 100%
        border-radius: 3px
        border: 1px solid #C4C4C4
    label
        color: #121212
        font-size: 16px
        font-weight: 500
